
/* fallback */

@font-face {
  font-family: 'Material Icons';
  font-weight: 400;
  font-style: normal;

  src: local('Material Icons'), local('MaterialIcons-Regular'),url(/src/app/onem2m-ui/font/MaterialIcons-Regular.woff2) format('woff2')
}
.material-icons {
  display: inline-block;

  white-space: nowrap;
  letter-spacing: normal;
  text-transform: none;
  word-wrap: normal;

  font-family: 'Material Icons';
  font-size: 24px;  /* Preferred icon size */
  font-weight: normal;
  font-style: normal;
  line-height: 1;

  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, body{
    overflow: hidden;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.iotdm-container{
    position: relative;
    overflow: hidden;
    background-color: white;

    width: 100%;
    height: 100%;
}

.iotdm-container .toolbar-main {
  background-color: #000000;
}

.iotdm-container a.md-button{
    color:white !important;
}

.iotdm-container #topology svg {
    background-image: none;
}

.iotdm-container .side-panel-top .logo {
  font-weight: 800;
}

.iotdm-container .title{
  margin: 0;
  padding: 0;
    color:black;
  text-align: center;
}

.iotdm-container .subtitle{
  text-align:center;

  font-size:8pt;
}
.iotdm-container .h100{
  height:100%;
}

.iotdm-container .w100{
  width:100%;
}



.iotdm-container .iotdm-content{
  position: relative;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.iotdm-container .side-panel {
    position:absolute;

    width:20%;
    right:0;
    -webkit-transition: all 1s;

    background:white;
}

.iotdm-container .md-button.animate-hide{
  -webkit-transition: all 0.5s;

  opacity:1;
}

.iotdm-container .md-button.animate-hide.ng-hide{
  opacity:0
}

.iotdm-container .side-panel .show-tag {
    position: absolute;
    left: -25px;

    width: 25px;
    height: 50px;

    background: white;
}
.iotdm-container .side-panel-top .nav-tag {
    position: absolute;
    left: 0px;

    width: 25px;
    height: 50px;
}

.iotdm-container .side-panel-top{
    position:relative;

    overflow: hidden;

    width:100%;
    height:50px;

    background: #F3F3F3;

    align-items: center;
    justify-content: center;
}

.iotdm-container .side-panel-content {
    overflow: auto;

    flex: 1;
}
.iotdm-container .side-panel-bottom{
    height:100px;
    margin:0;
}

.iotdm-container .side-panel.side-panel-hide{
    width:0;
}
.iotdm-container .submit{
    width:100%;
    margin:0;
    padding:0;

    -webkit-transition: all 1s;

    opacity: 1;
}

.iotdm-container .submit.ng-hide{
  -webkit-transition: all 1s;

  opacity:0;
}

.iotdm-container .icon-container{
    display:flex;

    align-items:center;
}

.iotdm-container .iotdm-breadcrumb > a+a:before{
    padding: 0 5px;

    content: "/\00a0";

    color: #ccc;
}

.iotdm-container .iotdm-breadcrumb a{
    display: inline-block;
}

.iotdm-container .iotdm-breadcrumb a:last-child{
    cursor:default;

    color: #C0C0C0;
}

.iotdm-container .iotdm-breadcrumb a:not(:last-child):hover{
    color:#C0C0C0;
}

.iotdm-container .right{
    position:absolute;
    right:0;
}

.iotdm-container .content{
    clear:both;

    width: 100%;
}

.iotdm-container .onem2m-block{
    display:block;
}

/*Override the error space setting in the md*/


md-toast.md-success-theme .md-toast-content{
    background-color: rgb(33,150,243);
}

md-toast.md-warn-theme .md-toast-content {
    background-color: rgb(223, 55, 111);
}

.iotdm-container onem2m-input{
  display:block;
}

.iotdm-container .icons-right{
    position:absolute;
    top:5px;
    right:4px;
    z-index:50;
}

.iotdm-container .icons-right-top{
    position:absolute;
    top:-15px;
    right:4px;
    z-index:50;
}

.iotdm-container .onem2m-input-container{
  position: relative;
}

.iotdm-container .onem2m-input-container  .clear{
  display:none;
}

.iotdm-container .onem2m-input-container:hover  .clear{
  display:inline-block;
}


.iotdm-container .edited-text{
  font-style: italic;
}

.iotdm-container md-select{
  margin: 0;
}
