<div class="onem2m-ui-container" ng-controller="Onem2mUICtrl as ctrl" id="toast-container">
    <div layout="column" class="onem2m-ui-container">
        <md-toolbar class="md-whiteframe-1dp toolbar-main">
            <div class="md-toolbar-tools toolbar-main">
                <span class="logo">Iotdm</span>
                <span flex></span>
                <md-button class="animate-hide" aria-label="description" md-ripple-size="full" ng-click="ctrl.openSidePanel('retrieve-cse')" ng-hide="ctrl.isSelect">Retrieve CSE</md-button>
                <md-button class="animate-hide" aria-label="description" md-ripple-size="full" ng-click="ctrl.openSidePanel('create')" ng-show="ctrl.isSelect">Create</md-button>
                <md-button class="animate-hide" aria-label="description" md-ripple-size="full" ng-click="ctrl.openSidePanel('retrieve')" ng-show="ctrl.isSelect">Retrieve</md-button>
                <md-button class="animate-hide" aria-label="description" md-ripple-size="full" ng-click="ctrl.openSidePanel('update')" ng-show="ctrl.isSelect">Update</md-button>
                <md-button class="animate-hide" aria-label="description" md-ripple-size="full" ng-click="ctrl.openSidePanel('delete')" ng-show="ctrl.isSelect">Delete</md-button>
            </div>
        </md-toolbar>

        <section layout="row" flex>
            <div id="topology" flex></div>
            <section class="side-panel md-whiteframe-1dp h100 w100" ng-class="{'side-panel-hide':ctrl.sidePanel.hide}">
                <div class="show-tag icon-container md-whiteframe-1dp" ng-hide="ctrl.sidePanel.hide" ng-click="ctrl.closeSidePanel()">
                    <span class="material-icons">chevron_right</span>
                </div>
                <div ng-include="ctrl.sidePanel.template" class="h100 w100"></div>
            </section>
        </section>
    </div>
</div>
